html, body{
	margin: 0;
	font-family: sans-serif;
	background: #e5e5e5;
}
header{
	margin: 0;
	width: 100%;
	height: 150px;
	background: #3e80a5;
}
header h1{
	margin: 0;
	color: white;
	width: 100%;
	text-align: center;
	line-height: 140px;
	font-size: 40px;
	font-weight: 400;
}


.inv-container{
	width: 70%;
	height: auto;
	margin: auto;
	display: flex;
	padding-top: 50px;
	flex-wrap: wrap;
}

.item-container{
	padding: 10px;
	background: #76b7db;
	color: #212121;
	width: 170px;
	border-radius: 10px;
	transition: 0.5s;
	margin: 10px;
}

.item-container:hover{
	opacity: 0.6;
}


.item-title{
	font-size: 25px;
	width: 100%;
	padding: 5px 0 15px 0;
	text-align: center;
}

.item-body{
	text-align:left;
	padding: 5px;
	font-size: 12px;
}

.item-amount, .item-quantity{
	padding: 10px 0 5px 0;
}


.upload-item{
	width: 35%;
	display: block;
	margin: 50px auto 50px auto;
	background: #bfbfbf;
	padding: 50px;
	border-radius: 10px;
}

.upload-title{
	width: 100%;
	text-align: center;
	font-size: 25px;
	font-size: 700;
	margin: 5px 0 15px 0;
}

.upload-body input{
	width: 94%;
	margin: 5px auto;
	border-radius: 5px;
	padding: 10px;
}

.upload-body button{
	padding: 10px 30px;
	border-radius: 5px;
	background: #32994d;
	color: white;
	font-size: 14px;
	border: 0;
	width: 100%;
	margin:  20px auto auto;
	transition: 0.5s;
}

.upload-body button:hover{
	background: #40bc60;
}
